</div>
<div class="container text-center">
    <hr class="my-4">
    <a id="facebook" target="_blank" href="https://facebook.com/groups/backroutegg/"><i class="fab fa-facebook-f"></i></a>
    <a id="email" target="_blank" href="mailto:backroutegg@gmail.com" data-toggle="tooltip" data-placement="top" title="backroutegg@gmail.com"><i class="far fa-envelope"></i></a>
    <a id="twitter" target="_blank" href="https://twitter.com/backroutegg/"><i class="fab fa-twitter"></i></a>
</div>
<br>
<div class="container">
    <small><a id="hireme" class="font-italic float-right" href="https://www.hirejoshstewart.com"><i class="far fa-copyright"></i>2018 J.Stewart</a></small>
</div>
<br>
<br>
<br>
<br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
