<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>BackRoute</title>
        <!--SHORTCUT ICON LINK BELOW THIS LINE-->
        <link rel="shortcut icon" href="#">
        <!--PUT YOUR FONTS TAG HERE-->
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script src="/stylesheets/main.js"></script>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
<body>
