<% include ../partials/header2 %>

<div class="container">
    <div class="jumbotron">
        <div class="container text-center">
            <h1 class="display-4">Welcome to BackRoute</h1>
            <p class="lead">We are an always growing community of casual and serious gamers.</p>
        </div>
    </div>
</div>
<div class="text-center">
    <div>
        <h4>BackRoute Sponsored Rocket League Player Neon won 1st in the Build Contest at Laclede LAN!</h4>
        <div class="container">
            <div id="flex" class="row">
                <div class="col-sm">
                    <img id="zoom" class="rounded" src="https://i.imgur.com/uEDZ1bt.jpg">
                    <img id="zoom" class="rounded" src="https://i.imgur.com/AgUFSm7.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    <hr class="my-4">
    <div id="flex" class="row">
        <div class="col-lg-4 col-sm-6">
            <h4>BackRouteGG Twitter</h4>
            <a class="twitter-timeline" data-width="350" data-height="500" data-theme="dark" href="https://twitter.com/BackRouteGG?ref_src=twsrc%5Etfw">Tweets by BackRouteGG</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="" src="https://www.lacledeslan.com/images/LL-Logo-400x400.png">
            <h4>Laclede's LAN April 2018 Pictures.</h4>
            <a id="link" target="blank_" class="" href="https://imgur.com/a/cI7E3dW">Full Album Here</a>
            <br>
            <a id="link" target="blank_" class="" href="https://www.lacledeslan.com/">Check out Laclede's LAN website!</a>
        </div>
        <div class="col-lg-4 col-sm-6">
            <h4>Check out our Discord!</h4>
            <iframe src="https://discordapp.com/widget?id=208043780723441665&theme=dark" width="300" height="500" allowtransparency="true" frameborder="0"></iframe>
        </div>
    </div>
</div>

<% include ../partials/footer2 %>

<!--Stuff you can use for later-->


        <!--DISCORD WIDGET-->
        <!--<iframe src=" https://discordapp.com/widget?id=208043780723441665&theme=dark " width="350" height="500" allowtransparency="true" frameborder="0"></iframe>-->

        <!--Iconic Twitch-->
        <!--<iframe class="d-block w-100" src="https://player.twitch.tv/?channel=iconic_TV&muted=true" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe><a href="https://www.twitch.tv/iconic_TV?tt_content=text_link&tt_medium=live_embed" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;" alt="First slide">Watch live video from IconicGG on www.twitch.tv</a>-->

        <!--LineStartsHere Twitch-->
        <!--<iframe class="d-block w-100" <iframe src="https://player.twitch.tv/?channel=linestartshere&muted=true" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe><a href="https://www.twitch.tv/linestartshere?tt_content=text_link&tt_medium=live_embed" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;" alt="Second slide">Watch live video from LineStartsHere on www.twitch.tv</a>-->

        
        <!--this goes in your HTML change the href to the fb page you make public-->
        <!--<div class="fb-page" data-href="https://www.facebook.com/groups/backroutegg" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>-->
        
        
