<% include ../partials/header %>
<!--facebook embed SDK-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1697881106964639&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/" style="color:#428bca;">
    <img src="https://static1.squarespace.com/static/58e85a75c534a5cb8315e4f4/t/5a0e73d924a694cb083a2195/1520303618119/?format=1500w" width="50" height="50" class="d-inline-block align-center" alt=""> BackRoute</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!--Markup for CENTERED BR-->
      <!--<ul class="navbar-nav ml-auto">-->
      <!--<img src="https://static1.squarespace.com/static/58e85a75c534a5cb8315e4f4/t/5a0e73d924a694cb083a2195/1520303618119/?format=1500w" width="100" height="100" alt="">-->
      <!--</ul>-->
    <div class="navbar-nav ml-auto">
            <li>
            <a id="link" class="nav-item nav-link" href="/">Home</a>    
            </li>
            <li>
            <a id="link" class="nav-item nav-link" href="/media">Media</a>    
            </li>
            <li>
            <a id="link" class="nav-item nav-link" target="_blank" href="https://teespring.com/backroute-community-fund#pid=2&cid=2397&sid=front">Shop</a>    
            </li>
    </div>
  </div>
</nav>
</div>
<div class="container">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <iframe class="d-block w-100" src="https://player.twitch.tv/?channel=iconic_TV&muted=true" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe><a href="https://www.twitch.tv/iconic_TV?tt_content=text_link&tt_medium=live_embed" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;" alt="First slide">Watch live video from IconicGG on www.twitch.tv</a>
    </div>
    <div class="carousel-item">
      <iframe class="d-block w-100" <iframe src="https://player.twitch.tv/?channel=linestartshere&muted=true" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe><a href="https://www.twitch.tv/linestartshere?tt_content=text_link&tt_medium=live_embed" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;" alt="Second slide">Watch live video from LineStartsHere on www.twitch.tv</a>
    </div>
    <div class="carousel-item">
      <iframe class="d-block w-100" <iframe src="https://player.twitch.tv/?channel=tedfarkass&muted=true" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe><a href="https://www.twitch.tv/tedfarkass?tt_content=text_link&tt_medium=live_embed" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;" alt="Third slide">Watch live video from TedFarkass on www.twitch.tv</a>
    </div>
  </div>
</div>
</div>
<div class="text-center">
    <div>
    <h1>Discord Media</h1>
    <div class="container">
        <div class="row">
        <img class="grow rounded" src="https://static1.squarespace.com/static/58e85a75c534a5cb8315e4f4/5a0e9816ec212d62c924ae91/5a0e981d8165f5db2ade72c0/1510905886318/IMG_1180.jpg?format=500w">
    	<img class="grow rounded" src="https://static1.squarespace.com/static/58e85a75c534a5cb8315e4f4/5a0e9816ec212d62c924ae91/5a0e981753450a5bbca777d3/1510905881162/22713152_1911519605775648_270913104409731036_o.jpg?format=500w">
    	<img class="grow rounded" src="https://static1.squarespace.com/static/58e85a75c534a5cb8315e4f4/5a0e9816ec212d62c924ae91/5a0e981e085229ac66562ed0/1510905886352/IMG_1181.jpg?format=500w">
    	<img class="grow rounded" src="https://static1.squarespace.com/static/58e85a75c534a5cb8315e4f4/5a0e9816ec212d62c924ae91/5a0e981aec212d62c924aee7/1510905884331/22770910_1911518342442441_5750903035125039655_o.jpg?format=500w">
    	<img class="grow rounded" src="https://i.imgur.com/l7ETfYm.jpg">
    	<img class="grow rounded" src="https://i.imgur.com/2USOyNQ.png">
	    </div>
	 </div>
    </div>
</div>
<div class="container">
    <hr class="my-4">
    <div class="row">
        <div class="col-sm">
            <a class="twitter-timeline" data-width="350" data-height="500" data-theme="dark" href="https://twitter.com/BackRouteGG?ref_src=twsrc%5Etfw">Tweets by BackRouteGG</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>  
        </div>
        <div class="col-sm">
            <div class="fb-page" data-href="https://www.facebook.com/Microsoft/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Microsoft/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Microsoft/">Microsoft</a></blockquote></div>
        </div>
            <div class="col-sm">
             <iframe src=" https://discordapp.com/widget?id=208043780723441665&theme=dark " width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
        </div>
    </div>
</div>
<% include ../partials/footer %>