<% include ../partials/header2 %>

<div class="container text-center">
    <div class="row">
        <div class="col-lg-8 col-sm-6">
            <h4>Featured Streamer: TedFarkass</h4>
            <iframe id="flex" class="" <iframe src="https://player.twitch.tv/?channel=tedfarkass&muted=true" frameborder="0" allowfullscreen="true" scrolling="no" height="350" width="620"></iframe><a href="https://www.twitch.tv/tedfarkass?tt_content=text_link&tt_medium=live_embed" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;">Watch live video from TedFarkass on www.twitch.tv</a>
        </div>
        <div class="col-lg-4 col-sm-6 align-self-center">
            <h4>Social Media</h4>
            <a id="twitter" target="_blank" href="https://twitter.com/tedfarkass/"><i class="fab fa-twitter"></i> Twitter</a>
            <br>
            <a id="twitch" target="_blank" href="https://www.twitch.tv/tedfarkass/"><i class="fab fa-twitch"></i> Twitch</a>
        </div>
    </div>
</div>
<div id="flex" class="container text-center">
    <hr class="my-4">
    <h4>Featured Video</h4>
    <div class="videoWrapper">
        <div id="player" frameborder="0" allowfullscreen="true"></div>
    </div>
</div>
<div class="container text-center">
    <hr class="my-4">
    <div id="flex" class="row">
        <div class="col-lg-4 col-sm-6">
            <h4>LineStartsHere Latest</h4>
            <!--When you change the youtube video just grab the video ID from YT. ie. /OfG9x3uk-Is-->
            <iframe width="350" height="197" src="https://www.youtube.com/embed/OfG9x3uk-Is?wmode=opaque&enablejsapi=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="col-lg-4 col-sm-6">
            <h4>BackRoute Latest</h4>
                                                                                <!--Here also-->
            <iframe width="350" height="197" src="https://www.youtube.com/embed/5GsCzMGqFQs?wmode=opaque&enablejsapi=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="col-lg-4 col-sm-6">
            <h4>TedFarkass Latest</h4>
                                                                                <!--Here Also.-->
            <iframe width="350" height="197" src="https://www.youtube.com/embed/Wl2695rvWRI?wmode=opaque&enablejsapi=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>

<% include ../partials/footer2 %>