<% include ../partials/header %>
<div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/" style="color:white;">
    <img src="https://static1.squarespace.com/static/58e85a75c534a5cb8315e4f4/t/5a0e73d924a694cb083a2195/1520303618119/?format=1500w" width="100" height="100" class="d-inline-block align-center" alt=""> BackRoute</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!--Markup for CENTERED BR-->
      <!--<ul class="navbar-nav ml-auto">-->
      <!--    <img src="https://static1.squarespace.com/static/58e85a75c534a5cb8315e4f4/t/5a0e73d924a694cb083a2195/1520303618119/?format=1500w" width="100" height="100" alt="">-->
      <!--</ul>-->
    <div class="navbar-nav ml-auto">
            <li>
            <a id="link" class="nav-item nav-link" href="/">Home</a>    
            </li>
            <li>
            <a id="link" class="nav-item nav-link" href="/media">Media</a>    
            </li>
            <li>
            <a id="link" class="nav-item nav-link" href="https://teespring.com/backroute-community-fund#pid=2&cid=2397&sid=front">Shop</a>    
            </li>
    </div>
  </div>
</nav>


<% include ../partials/footer %>