<% include ../partials/header2 %>

<div class="container text-center">
    <div class="row">
        <div class="col-lg-8 col-sm-6">
            <h4>Featured Streamer: TedFarkass</h4>
            <div class="video-container">
            <iframe class="auto-resizable-iframe" <iframe src="https://player.twitch.tv/?channel=tedfarkass&muted=true" frameborder="0" allowfullscreen="true" scrolling="no" height="350" width="620"></iframe></div><a href="https://www.twitch.tv/tedfarkass?tt_content=text_link&tt_medium=live_embed" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;">Watch live video from TedFarkass on www.twitch.tv</a>
        </div>
        <div class="col-lg-4 col-sm-6 align-self-center">
            <h4>Social Media</h4>
            <a id="twitter" target="_blank" href="https://twitter.com/tedfarkass/"><i class="fab fa-twitter"></i> Twitter</a>
            <br>
            <a id="twitch" target="_blank" href="https://www.twitch.tv/tedfarkass/"><i class="fab fa-twitch"></i> Twitch</a>
        </div>
    </div>
</div>
<div class="container text-center">
    <hr class="my-4">
    <h4>Featured Video</h4>
    <hr class="my-4">
    <div class="video-container">
        <!--<div id="player" frameborder="0" allowfullscreen="true"></div>-->
        <iframe src="https://clips.twitch.tv/embed?clip=CrunchyFaithfulBulgogiPunchTrees&autoplay=true&tt_medium=clips_embed" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
    </div>
</div>     
<div class="container text-center">
    <hr class="my-4">
    <div><h4>Other BackRoute Streamers</h4></div>
    <hr class="my-4">
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <h4>LineStartsHere Stream</h4>
            <!--When you change the youtube video just grab the video ID from YT. ie. /OfG9x3uk-Is-->
            <div class="video-container">
            <!--<iframe width="350" height="197" src="https://www.youtube.com/embed/OfG9x3uk-Is?wmode=opaque&enablejsapi=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="true"></iframe>-->
            <iframe class="d-block w-100" <iframe src="https://player.twitch.tv/?channel=linestartshere&muted=true" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe><a href="https://www.twitch.tv/linestartshere?tt_content=text_link&tt_medium=live_embed" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;" alt="Second slide">Watch live video from LineStartsHere on www.twitch.tv</a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <h4>BeepBeepImaJeep Stream</h4>
            <div class="video-container">                                   <!--Here also-->
            <!--<iframe width="350" height="197" src="https://www.youtube.com/embed/5GsCzMGqFQs?wmode=opaque&enablejsapi=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="true"></iframe>-->
            <iframe src="https://player.twitch.tv/?channel=beeprl" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe><a href="https://www.twitch.tv/beeprl?tt_content=text_link&tt_medium=live_embed" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;">Watch live video from BeepRL on www.twitch.tv</a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <h4>IconicGG Stream</h4>
            <div class="video-container">                                   <!--Here Also.-->
            <!--<iframe width="350" height="197" src="https://www.youtube.com/embed/Wl2695rvWRI?wmode=opaque&enablejsapi=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="true"></iframe>-->
            <iframe class="d-block w-100" src="https://player.twitch.tv/?channel=iconic_TV&muted=true" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe><a href="https://www.twitch.tv/iconic_TV?tt_content=text_link&tt_medium=live_embed" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;" alt="First slide">Watch live video from IconicGG on www.twitch.tv</a>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer2 %>