<% include ../partials/header %>
    
      <!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4 text-center">
    <h1 class="display-5">BackRoute Store</h1>
    <p class="lead">All Proceeds go toward growing our company.</p>
  </header>
</div>
  <!-- Page Features -->
<div class="container">
  <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card text-white bg-dark mb-3">
            <img class="card-img-top" src="https://vangogh.teespring.com/v3/image/-ICWPmyMrZUklhp0ZwhfLyp-wZ4/480/560.jpg" alt="">
            <div class="card-body">
              <h4 id="store" class="card-title">BackRoute Leggings</h4>
              <p id="store" class="card-text">Small price to pay to keep your girl looking fly</p>
            </div>
            <div class="card-footer">
              <a target="blank_" href="https://teespring.com/backroute-legging?tsmac=store&tsmic=backroutegg#pid=641&cid=102669&sid=front" class="btn btn-dark">Find Out More!</a>
            </div>
          </div>
        </div>
    
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card text-white bg-dark mb-3">
            <img class="card-img-top" src="https://vangogh.teespring.com/v3/image/Af2PMlqo4Dx9_Wmmps-oRLDvk4k/480/560.jpg" alt="">
            <div class="card-body">
              <h4 id="store" class="card-title">BackRoute Pillow</h4>
              <p id="store" class="card-text">your neck will praise you after laying on this for hours of gaming</p>
            </div>
            <div class="card-footer">
              <a target="blank_" href="https://teespring.com/new-backroute-pillow?cross_sell=true&cross_sell_format=none&count_cross_sell_products_shown=6#pid=585&cid=102398&sid=front" class="btn btn-dark">Find Out More!</a>
            </div>
          </div>
        </div>
    
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card text-white bg-dark mb-3">
            <img class="card-img-top" src="https://vangogh.teespring.com/v3/image/eRRvpxjtzX14UZaYfSWje33BO_w/480/560.jpg" alt="">
            <div class="card-body">
              <h4 id="store" class="card-title">BackRoute Flag</h4>
              <p id="store" class="card-text">Enjoy this flag while wondering why we charged such a specific price</p>
            </div>
            <div class="card-footer">
              <a target="blank_" href="https://teespring.com/backroute-flag?tsmac=store&tsmic=backroutegg#pid=635&cid=102558&sid=front" class="btn btn-dark">Find Out More!</a>
            </div>
          </div>
        </div>
    
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card text-white bg-dark mb-3">
            <img class="card-img-top" src="https://vangogh.teespring.com/v3/image/NxNMO74yUpH4n6yz8fGM-w0dfkU/480/560.jpg" alt="">
            <div class="card-body">
              <h4 id="store" class="card-title">BackRoute Standard</h4>
              <p id="store" class="card-text">Do you take the backroute? Well, now you can! With this premium backroute shirt</p>
            </div>
            <div class="card-footer">
              <a target="blank_" href="https://teespring.com/backroute-standard?tsmac=store&tsmic=backroutegg#pid=2&cid=2232&sid=front" class="btn btn-dark">Find Out More!</a>
            </div>
          </div>
        </div>
    </div>
</div>
<hr class="my-4">
<div class="text-center">
    <a id="link" target="blank_" href="https://teespring.com/stores/backroutegg">Full Store Here</a>
</div>


<% include ../partials/footer %>