<% include ../partials/header2 %>

<!--<div class="container">-->
<!--    <div class="row">-->
<!--    <div class="col-lg-6 col-sm-6 align-self-center">-->
<!--    <h1 class="display-4">Welcome to BackRoute Shop.</h1>-->
<!--    <p class="lead">All procedes go towards improving our company.</p>-->
<!--    </div>-->
<!--    <div class="col-lg-6 col-sm-6">-->
<!--    <img id="shop" class="rounded" src="https://vangogh.teespring.com/v3/image/Rq6y8O4bylIU-P0mWY75-DGK7Gk/480/560.jpg">-->
<!--    </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="container">-->
<!--    <hr class="my-4">-->
<!--    <h1 class="display-4 text-center">Products</h1>-->
<!--</div>-->

<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <img id="shop" class=" rounded mx-auto d-block" src="https://vangogh.teespring.com/v3/image/yft-cYZnxckXrVaJKF9NCIxToFM/480/560.jpg">-->
<!--        <img id="shop" class=" rounded mx-auto d-block" src="https://vangogh.teespring.com/v3/image/OTp7PysQ-XouGXvBwFB7q2ZK3Gc/480/560.jpg">-->
<!--        <img id="shop" class=" rounded mx-auto d-block" src="https://vangogh.teespring.com/v3/image/eRRvpxjtzX14UZaYfSWje33BO_w/480/560.jpg">-->
<!--        <img id="shop" class=" rounded mx-auto d-block" src="https://vangogh.teespring.com/v3/image/-ICWPmyMrZUklhp0ZwhfLyp-wZ4/480/560.jpg">-->
<!--        <img id="shop" class=" rounded mx-auto d-block" src="https://vangogh.teespring.com/v3/image/NxNMO74yUpH4n6yz8fGM-w0dfkU/480/560.jpg">-->
<!--    </div>-->
<!--</div>-->

<div class="wrapper">
	<div class="desc">
		<h1>BackRoute Shop</h1>
		<p>All Proceeds go toward growing our company.</p>

		<div class="todo">
			<span>Products</span>
		</div>
	</div>

	<div class="content">
		<!-- content here -->
		<div class="product-grid product-grid--flexbox">
			<div class="product-grid__wrapper">
				<!-- Product list start here -->

				<!-- Single product -->
				<div class="product-grid__product-wrapper">
					<div class="product-grid__product">
						<div class="product-grid__img-wrapper">
							<img src="https://vangogh.teespring.com/v3/image/yft-cYZnxckXrVaJKF9NCIxToFM/480/560.jpg" alt="Img" class="product-grid__img" />
						</div>
						<span class="product-grid__title">EZ GG Mug of Tears</span>
						<span class="product-grid__price">15$</span>
						<div class="product-grid__extend-wrapper">
							<div class="product-grid__extend">
								<p id="desc" class="product-grid__description">Grab a nice glass of warm tears while you spam gg in chat</p>
								<a href="https://teespring.com/ez-gg-mug-of-tears?tsmac=store&tsmic=backroutegg#pid=522&cid=101894&sid=front"><span class="product-grid__btn product-grid__add-to-cart"><i class="fa fa-cart-arrow-down"></i> Details</span></a>
							</div>
						</div>
					</div>
				</div>
				<!-- end Single product -->

				<div class="product-grid__product-wrapper">
					<div class="product-grid__product">
						<div class="product-grid__img-wrapper">
							<img src="https://vangogh.teespring.com/v3/image/Af2PMlqo4Dx9_Wmmps-oRLDvk4k/480/560.jpg" alt="Img" class="product-grid__img" />
						</div>
						<span class="product-grid__title">BackRoute Pillow</span>
						<span class="product-grid__price">26$</span>
						<div class="product-grid__extend-wrapper">
							<div class="product-grid__extend">
								<p id="desc" class="product-grid__description">your neck will praise you after laying on this for hours of gaming</p>
								<a href="https://teespring.com/new-backroute-pillow?cross_sell=true&cross_sell_format=none&count_cross_sell_products_shown=6#pid=585&cid=102398&sid=front"><span class="product-grid__btn product-grid__add-to-cart"><i class="fa fa-cart-arrow-down"></i> Details</span></a>
							</div>
						</div>
					</div>
				</div>

				<div class="product-grid__product-wrapper">
					<div class="product-grid__product">
						<div class="product-grid__img-wrapper">
							<img src="https://vangogh.teespring.com/v3/image/eRRvpxjtzX14UZaYfSWje33BO_w/480/560.jpg" alt="Img" class="product-grid__img" />
						</div>
						<span class="product-grid__title">BackRoute Flag</span>
						<span class="product-grid__price">27$</span>
						<div class="product-grid__extend-wrapper">
							<div class="product-grid__extend">
								<p id="desc" class="product-grid__description">Enjoy this flag while wondering why we charged such a specific price</p>
								<a href="https://teespring.com/backroute-flag?tsmac=store&tsmic=backroutegg#pid=635&cid=102558&sid=front"><span class="product-grid__btn product-grid__add-to-cart"><i class="fa fa-cart-arrow-down"></i> Details</span></a>
							</div>
						</div>
					</div>
				</div>

				<div class="product-grid__product-wrapper">
					<div class="product-grid__product">
						<div class="product-grid__img-wrapper">
							<img src="https://vangogh.teespring.com/v3/image/-ICWPmyMrZUklhp0ZwhfLyp-wZ4/480/560.jpg" alt="Img" class="product-grid__img" />
						</div>
						<span class="product-grid__title">BackRoute Leggings</span>
						<span class="product-grid__price">45$</span>
						<div class="product-grid__extend-wrapper">
							<div class="product-grid__extend">
								<p id="desc" class="product-grid__description">Small price to pay to keep your girl looking fly.</p>
								<a href="https://teespring.com/backroute-legging?tsmac=store&tsmic=backroutegg#pid=641&cid=102669&sid=front"><span class="product-grid__btn product-grid__add-to-cart"><i class="fa fa-cart-arrow-down"></i> Details</span></a>
							</div>
						</div>
					</div>
				</div>

				<div class="product-grid__product-wrapper">
					<div class="product-grid__product">
						<div class="product-grid__img-wrapper">
							<img src="https://vangogh.teespring.com/v3/image/NxNMO74yUpH4n6yz8fGM-w0dfkU/480/560.jpg" alt="Img" class="product-grid__img" />
						</div>
						<span class="product-grid__title">BackRoute Standard</span>
						<span class="product-grid__price">22$</span>
						<div class="product-grid__extend-wrapper">
							<div class="product-grid__extend">
								<p id="desc" class="product-grid__description">Do you take the backroute? Well, now you can! With this premium backroute shirt.</p>
								<a href="https://teespring.com/backroute-standard?tsmac=store&tsmic=backroutegg#pid=2&cid=2232&sid=front"><span class="product-grid__btn product-grid__add-to-cart"><i class="fa fa-cart-arrow-down"></i> Details</span></a>
							</div>
						</div>
					</div>
				</div>

				<div class="product-grid__product-wrapper">
					<div class="product-grid__product">
						<div class="product-grid__img-wrapper">
							<img src="https://vangogh.teespring.com/v3/image/802U2LCreycI4OmC3IBC3SB23d4/480/560.jpg" alt="Img" class="product-grid__img" />
						</div>
						<span class="product-grid__title">BackRoute Socks</span>
						<span class="product-grid__price">15.99$</span>
						<div class="product-grid__extend-wrapper">
							<div class="product-grid__extend">
								<p id="desc" class="product-grid__description">Socks so comfy they make socks that are comfy seem not as comfy.</p>
							    <a href="https://teespring.com/backroute-socks?tsmac=store&tsmic=backroutegg#pid=636&cid=102607&sid=front"><span class="product-grid__btn product-grid__add-to-cart"><i class="fa fa-cart-arrow-down"></i> Details</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer2 %>