body {
    font-family: 'Do Hyeon', sans-serif;
    /*background-image: url("https://i.imgur.com/nODcwpd.png");*/
    background-position: center;
    background-color: #000000;
    padding-top: 70px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

#shop {
    max-height: 250px;
    max-width: 250px;
    margin-top: 30px;
}

#link,
h4,
p,
h1 {
    color: white;
    text-decoration: none;
}

#link:hover {
    color: #ff00c7;
}


.jumbotron {
    padding: 2em 2em;
    background-color: #000000;
}

#twitter:hover,
#twitch:hover,
#email:hover,
#facebook:hover {
    color: #ff00c7;
}

#twitter,
#twitch,
#email,
#facebook {
    color: #428bca;
    font-size: 40px;
    padding: 2%;
    text-decoration: none;
}

@-ms-viewport {
    width: auto;
}


#hireme {
    text-decoration: none;
    color: white;
}

/*FOR SCALING YOUTUBE VIDS TO MOBILE*/

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*FOR SHOP LAYOUT*/

.wrapper {
    width: 68em;
}




body {
    box-sizing: border-box;
    font-family: 'Do Hyeon', sans-serif;
    background: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body * {
    box-sizing: inherit;
}

.wrapper {
    width: 40em;
    margin: 2em auto;
    background: #00000;
    padding: 1em;
    border-radius: 8px;
}

.wrapper> :first-child {
    margin-top: 0;
}

.wrapper> :last-child {
    margin-bottom: 0;
}

.desc {
    margin: 1em auto;
    font-size: 1.2em;
    text-align: center;
}

#desc {
    color: #000000;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

.emoticon-face {
    background: #FFEB3B;
    border-radius: 100%;
    width: 1.7em;
    height: 1.7em;
    transform: rotate(90deg);
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    margin: -.4em .2em 0;
    text-align: center;
    border: 1px solid #FDD835;
    padding-left: .1em;
    -webkit-font-smoothing: antialiased;
}

.emoticon-face--no-rotation {
    transform: rotate(0deg);
}

code {
    padding: .2em .3em;
    background: #f5f5f5;
    margin: 0 .2em;
    border-radius: 4px;
    font-size: .95em;
    font-family: 'Do Hyeon';
}

.tac {
    text-align: center;
}

.wrapper {
    width: 68em;
}

* {
    box-sizing: border-box;
}

body {
    color: #000000;
    font-family: 'Do Hyeon', Arial, sans-serif;
}

.product-grid {
    width: 60em;
    margin: 2rem auto;
}

.product-grid.product-grid--flexbox .product-grid__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.product-grid.product-grid--flexbox .product-grid__title {
    height: auto;
}

.product-grid.product-grid--flexbox .product-grid__title:after {
    display: none;
}

.product-grid__wrapper {
    margin-left: -1rem;
    margin-right: -1rem;
}

.product-grid__product-wrapper {
    padding: 1rem;
    float: left;
    width: 33.33333%;
}

.product-grid__product {
    padding: 1rem;
    position: relative;
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
}

.product-grid__product:hover {
    box-shadow: 0px 0px 0px 1px #eee;
    z-index: 50;
}

.product-grid__product:hover .product-grid__extend {
    display: block;
}

.product-grid__img-wrapper {
    width: 100%;
    text-align: center;
    /*padding-top: .5rem;*/
    /*padding-bottom: .5rem;*/
    height: 200px;
}

.product-grid__img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.product-grid__title {
    margin-top: .875rem;
    display: block;
    font-size: 1.125em;
    color: #222;
    height: 3em;
    overflow: hidden;
    position: relative;
}

.product-grid__title:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2.4em;
    height: 1.5em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%);
}

.product-grid__price {
    color: #E91E63;
    font-weight: bold;
    letter-spacing: .4px;
}

.product-grid__extend-wrapper {
    position: relative;
}

.product-grid__extend {
    display: none;
    position: absolute;
    padding: 0 1rem 1rem 1rem;
    margin: .4375rem -1rem 0;
    box-shadow: 0px 0px 0px 1px #eee;
    background: #fff;
    border-radius: 0 0 4px 4px;
}

.product-grid__extend:before {
    content: "";
    height: .875rem;
    width: 100%;
    position: absolute;
    top: -.4375rem;
    left: 0;
    background: #fff;
}

.product-grid__description {
    font-size: .875em;
    margin-top: .4375rem;
    margin-bottom: 0;
}

.product-grid__btn {
    display: inline-block;
    font-size: .875em;
    color: #777;
    background: #eee;
    padding: .5em .625em;
    margin-top: .875rem;
    margin-right: .625rem;
    cursor: pointer;
    border-radius: 4px;
}

.product-grid__btn i.fa {
    margin-right: .3125rem;
}

.product-grid__add-to-cart {
    color: #fff;
    background: #E91E63;
}

.product-grid__add-to-cart:hover {
    background: #ee4c83;
}

.product-grid__view {
    color: #fff;
    background: #eee;
}

.product-grid__view:hover {
    background: white;
}

/*IMG ZOOM*/

#zoom {
    transition: transform .2s;
    max-width: 250px;
    max-height: 250px;
    margin: 10px;
}

#zoom:hover {
    -ms-transform: scale(2);
    /* IE 9 */
    -webkit-transform: scale(2);
    /* Safari 3-8 */
    transform: scale(2);
}
