body {
    font-family: 'Do Hyeon', sans-serif;
    /*background-image: url("https://i.imgur.com/nODcwpd.png");*/
    background-position: center;
    background-color: #000000;
}

#link,
h4,
p,
h1 {
    color: white;
}

#link:hover {
    color: #ff00c7;
}


.jumbotron {
    padding: 2em 2em;
    background-color: #000000;
}

#twitter:hover,
#twitch:hover,
#email:hover,
#facebook:hover {
    color: #ff00c7;
}

#twitter,
#twitch,
#email,
#facebook {
    color: #428bca;
    font-size: 40px;
    padding: 2%;
    text-decoration: none;
}

@-ms-viewport {
    width: auto;
}


#hireme {
    text-decoration: none;
    color: white;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
