body {
    font-family: 'Nunito Sans', sans-serif;
    background-position: center;
    background-color: #000000;
    padding-top: 70px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

#shop {
    max-height: 250px;
    max-width: 250px;
    margin-top: 30px;
}

#link,
h4,
p,
h1 {
    color: white;
    text-decoration: none;
}

#store {
    color: #000000;
}

#link:hover {
    color: #ff00c7;
}


.jumbotron {
    padding: 2em 2em;
    background-color: #000000;
}

#twitter:hover,
#twitch:hover,
#email:hover,
#facebook:hover {
    color: #ff00c7;
}

#twitter,
#twitch,
#email,
#facebook {
    color: #428bca;
    font-size: 30px;
    padding: 2%;
    text-decoration: none;
}

@-ms-viewport {
    width: auto;
}


#hireme {
    text-decoration: none;
    color: white;
}

/*FOR SCALING YOUTUBE VIDS TO MOBILE*/

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*FOR SHOP LAYOUT*/

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.card {
    height: 100%;
}

/*IMG ZOOM*/

#zoom {
    transition: transform .2s;
    max-width: 250px;
    max-height: 250px;
    margin: 10px;
}

#zoom:hover {
    -ms-transform: scale(2);
    /* IE 9 */
    -webkit-transform: scale(2);
    /* Safari 3-8 */
    transform: scale(2);
}
